@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --primary: 207 100% 20%;
    --primary-foreground: 210 40% 96.1%;

    --secondary: 207 100% 30%;
    --secondary-foreground: 210 40% 96.1%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 207 100% 20%;

    --destructive: 0 100% 40%;
    --destructive-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;

    --input: 214.3 31.8% 91.4%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem; /* might be useless */
  }
}
